---
import MarqueeText from '@/components/common/MarqueeText.astro';
import { TestimonialsCarousel } from './TestimonialsCarousel';
import { t } from '@/lib/utils';
---

<section class="bg-body text-primary relative overflow-hidden py-24 lg:py-32">
  <div class="relative container mx-auto space-y-10 md:space-y-20">
    <!-- Header -->
    <div class="space-y-6 px-4 text-center">
      <div class="mx-auto w-fit">
        <MarqueeText text={t('index.testimonials.marqueetext')} dark />
      </div>
      <h2 class="font-boldonse text-4xl leading-normal uppercase md:text-6xl lg:text-7xl">
        {t('index.testimonials.title')}
      </h2>
      <p class="text-muted-light mx-auto max-w-2xl text-base leading-relaxed md:text-xl">
        {t('index.testimonials.description')}
      </p>
    </div>

    <TestimonialsCarousel client:load />
  </div>
</section>
